<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<array>
		<dict>
			<key>username</key>
			<string>abhishek</string>
			<key>password</key>
			<string>bhishek</string>
		</dict>
		<dict>
			<key>username</key>
			<string>ashish</string>
			<key>password</key>
			<string>shish</string>
		</dict>
		<dict>
			<key>username</key>
			<string>richu</string>
			<key>password</key>
			<string>ichu</string>
		</dict>
		<dict>
			<key>username</key>
			<string>parag</string>
			<key>password</key>
			<string>arag</string>
		</dict>
		<dict>
			<key>username</key>
			<string>neeraj</string>
			<key>password</key>
			<string>eeraj</string>
		</dict>
	</array>
</dict>
</plist>
